<% sports.forEach(function(sport) { 
  var imgaeUrl = './img/' + sport.image
  %>
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary" id="sport-author"><%= sport.author%></strong>
      <h3 class="mb-0" id="sport-title"><%= sport.title%></h3>
      <div class="mb-1 text-muted" id="sport-date"><%= sport.date%></div>
      <p class="card-text mb-auto" id="sport-body"><%= sport.body%></p>
    </div>
    <div class="col-auto d-none d-lg-block sports-image" >
      <img src="<%=imgaeUrl%>" class="img-thumbnail" alt="sport news image" width="304" height="236">
    </div>
</div>
<% }) %>
