<div class="weather-summary row">
    <div class="col weather-location"><%=weather.city%></div> 
    <div class="col description"><%=weather.description%></div>
    <div class ="col degree-text"><i class='fas fa-temperature-high fa-2x temp-icon'></i><span><%=weather.temperature%></span></div>
    <div class="col degree-text"><i class='fas fa-temperature-high fa-2x temp-icon'></i><span><%=weather.temp_max%></span></div>
    <div class="col degree-text"><i class='fas fa-temperature-low fa-2x temp-icon' ></i><span><%=weather.temp_min%></span></div>
</div>